{{ define "leaderboard" }}
    {{ template "header" . }}
    {{ template "nav" . }}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Current Leaderboard</h1>
                <h4>Board is updated whenever a review is generated</h4>
                <table class="table table-bordered table-sm">
                    <tr class="table-primary d-flex">
                        <th scope="col" class="col-1">Rank</th>
                        <th scope="col" class="col-2">Score</th>
                        <th scope="col" class="col-9">User</th>
                    </tr>
                    <tbody>
                    {{ range .leaders }}
                    <tr class="d-flex">
                        <th scope="row" class="col-1">{{ .ScoreRank }}</th>
                        <th scope="row" class="col-2">{{ .Score }}</th>
                        <td class="col-9"><a target="_blank" href="/review/{{ .Username }}">{{ .Username }}</a>  <div class="float-right" style="display: block">(MAL: <a target="_blank" href="https://myanimelist.net/animelist/{{ .Username }}">Link</a>)</div></td>
                    </tr>
                    {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {{ template "footer" . }}
{{ end }}