{{ define "thanks" }}
    {{ template "header" . }}
    {{ template "nav" . }}
    <div class="container">
        <div class="row">
            <div class="col-md">
            </div>
            <div class="col-md">
                <br><br>
                <div class="container">
                    <h3>Your question has been successfully submitted</h3>
                </div>
            </div>
            <div class="col-md">
            </div>
        </div>
    </div>

    {{ template "footer" . }}
{{ end }}